html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 14px;
    font-size: 1.4em;
}


/** обеспечивает видимость контекстного меню для jstree **/
/** небходимо если дерево выводится в $().dialog() jquery-ui
/*.jstree-default-contextmenu {*/
    /*z-index: 110;*/
/*}*/
/** панель редактирования описаний**/
.dialogPane {
    min-height: 400px;
    min-width: 650px;
    width: 650px;
    overflow-x: auto ;
    /*overflow-y: visible ;*/
}
