/*  текст формы для выделения на фоновой картинке */
.formColor{color:#0cc ; /*#0cc;*/
 font-weight:bold ;
}
.label,.labelLong,.setup-label1 {
     width: 105px; /* Ширина блока с текстом */
     float: left; /* Расположение в одну строку с полем */
     text-align: right; /* Выравнивание по правому краю */
     padding-right: 5px;
    padding-left: 2px;
   }
.labelLong {
    width:140px ;
}
.labelForm{
 font-weight:bold ;
}
.field {
    background-color:rgb(239, 233, 233) ;
    width: 150px;
  /*  border:2px solid green;*/
   }
.field1 {
    width: 340px ;
    background-color:rgb(239, 233, 233) ;
}
 /* для пароля, почты, сайта */
 .setup-field1 {
     width: 500px; /* Ширина поля */
     margin-left: 10px; /* Расстояние между полем и текстом */
     padding: 2px; /* Поля вокруг текста */
   }


 .field:focus,.setup-field1:focus,.field1:focus { color:blue;
     background: #cc9;
   /* #ffe;  border: 1px solid #29B0D9; */
   }

.messageInfo, .messageError {
    border: 2px solid #000;
    border-radius: 5px;
}
.messageInfo {
    border-color: #00a300;
    color: #00b3ee;
}
.messageError {
    border-color: #990000 ;
    color : #ff0000;
}

#infoForm,#statSetup,#gameSetup,#about {

    width:550px;
    height:310px;
    border:2px solid green;
    margin-top: 7px;
    position: relative;
    background-color: rgb(228, 233, 236) ;
}
