/**--- фоновая картинка --**/
body {
    background-image: url("../../images/userInterface/magic2_empty_serg.jpg");
    background-size: 100% auto ; /*contain ;/*cover;*/
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #000000;
    /*min-width: 500px;*/
}
