/**--- фоновая картинка --**/
body {
    background-image: url("../../images/userInterface/magic2.png");
    background-size: 100% auto ; /*contain ;/*cover;*/
    overflow: hidden;
    background-repeat: no-repeat;
}
/**--- представление результата --**/
.result {
    /*background-image: url("../../images/userInterface/scroll_clear.png") ;*/
    background-image: url("../../images/userInterface/scroll_empty.png") ;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 100 ;
}
/*- ввод в круге **/
.roundInput {
    width: 250px;
    height: 250px;
    border: 2px solid green;
    border-radius: 250px;
}

.text {
    margin-top: 70px;
    margin-left: 20px;
    width: 210px;
    height: 100px;
    max-width: 210px;
    max-height: 100px;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    color: white;
}