a {
    color: #000;
    font-family:roboto , 'Times New Roman', Times, serif;
    font-size:18px ;
    /*outline: none; */
     }
/*a:focus { outline: none; }*/
/*.title { color: #FF3300;}*/

img {border:0}

/*p {margin:16px}*/


form {margin:0;padding:0;display:inline}
.box {
    /*background:#fff;*/
    background-color: transparent; /*rgba(217,189,143,1) ;*/
    font-family:roboto , 'Times New Roman', Times, serif;
    /*border:0px solid #ccc;*/
    /*border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*-khtml-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*box-shadow:0 0 4px #CCC;*/
    /*-moz-box-shadow:0 0 4px #CCC;*/
    /*-webkit-box-shadow:0 0 4px #CCC*/
}
.data {
    margin-top: 8px;
}
.data ul{
    margin-left: 50px ; /*-54px;*/
    padding-left:0 ; /*54px;*/
}
.data ul li{
    font-size:14px;
    color:#000; /*#999;*/
    /*padding:8px;*/
    margin-bottom: 6px;
    /*margin-left: 10% ; *//*40px; */
    margin-right: 10%
}
/*.data ul li a{*/
    /*display:block;*/
    /*text-indent:8px;*/
    /*font-size:1.2em;*/
/*}*/
.data ul li a.host{
    /*color:#999;*/
    /*font-size:0.6em;*/
    /*display:inline;*/
    padding-left:8px;
}

.data ul{
    padding:0;
    margin:0;
}

.data ul li{
    list-style:none;
    border: 0 !important;
    padding-left: 4px;
    margin-left: 4px;
    margin-top: 2px;
}
