/**
классы для вывода результата запроса к yandex или mnogonado.net
**/

a {
    color : #6a2e02;
    font-family:roboto , 'Times New Roman', Times, serif;
    font-size:18px ;
     }
img {border:0}
form {margin:0;padding:0;display:inline}
.box {
    /*background:#fff;*/
    background-color: transparent; /*rgba(217,189,143,1) ;*/
    font-family:roboto , 'Times New Roman', Times, serif;
    font-size : 14px ;
    color : #6a2e02;
}
.data {
    margin-top: 8px;
}
.data ul{
    margin-left: 50px ; /*-54px;*/
    padding-left:0 ; /*54px;*/
}
.data ul li{
    font-size:14px;
    color : #6a2e02;
    margin-bottom: 6px;
    margin-right: 10%
}
.data ul li a.host{
    padding-left:8px;
}

.data ul{
    padding:0;
    margin:0;
}

.data ul li{
    list-style:none;
    border: 0 !important;
    padding-left:0 ; /* 4px; */
    margin-left: 0 ; /*4px;*/
    margin-top:  0 ; /*2px;*/
}
.title{
    font-family:roboto , 'Times New Roman', Times, serif;
    font-size:18px ;
    color : #6a2e02;
}
